In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from matplotlib import rcParams
from sklearn.linear_model import LinearRegression
from google.colab import files
from scipy import stats



%matplotlib inline

In [0]:
sns.set_style('darkgrid')
rcParams['figure.figsize'] = 11,8

In [0]:
uploaded = files.upload()

Saving Melbourne_housing_FULL.csv to Melbourne_housing_FULL (3).csv

In [0]:
import io

df = pd.read_csv(io.BytesIO(uploaded['Melbourne_housing_FULL.csv']))

In [0]:
df.head()

       Suburb             Address  ...             Regionname Propertycount
0  Abbotsford       68 Studley St  ...  Northern Metropolitan        4019.0
1  Abbotsford        85 Turner St  ...  Northern Metropolitan        4019.0
2  Abbotsford     25 Bloomburg St  ...  Northern Metropolitan        4019.0
3  Abbotsford  18/659 Victoria St  ...  Northern Metropolitan        4019.0
4  Abbotsford        5 Charles St  ...  Northern Metropolitan        4019.0

[5 rows x 21 columns]

In [0]:
for i in df.columns:
  print(i)
  print(df[i].isnull().sum())
  print()

Suburb
0

Address
0

Rooms
0

Type
0

Price
7610

Method
0

SellerG
0

Date
0

Distance
1

Postcode
1

Bedroom2
8217

Bathroom
8226

Car
8728

Landsize
11810

BuildingArea
21115

YearBuilt
19306

CouncilArea
3

Lattitude
7976

Longtitude
7976

Regionname
3

Propertycount
3

In [0]:
df = df.drop(['Bedroom2', 'Bathroom', 'BuildingArea', 'YearBuilt', 'Address', 'Method', 
              'SellerG', 'CouncilArea', 'Lattitude', 'Longtitude', 'Regionname', 'Propertycount', 'Date'], 1)

In [0]:
df.head()

       Suburb  Rooms Type      Price  Distance  Postcode  Car  Landsize
0  Abbotsford      2    h        NaN       2.5    3067.0  1.0     126.0
1  Abbotsford      2    h  1480000.0       2.5    3067.0  1.0     202.0
2  Abbotsford      2    h  1035000.0       2.5    3067.0  0.0     156.0
3  Abbotsford      3    u        NaN       2.5    3067.0  1.0       0.0
4  Abbotsford      3    h  1465000.0       2.5    3067.0  0.0     134.0

In [0]:
df = df.dropna()

In [0]:
df.shape

(17701, 8)

In [0]:
df.head()

       Suburb  Rooms Type      Price  Distance  Postcode  Car  Landsize
1  Abbotsford      2    h  1480000.0       2.5    3067.0  1.0     202.0
2  Abbotsford      2    h  1035000.0       2.5    3067.0  0.0     156.0
4  Abbotsford      3    h  1465000.0       2.5    3067.0  0.0     134.0
5  Abbotsford      3    h   850000.0       2.5    3067.0  1.0      94.0
6  Abbotsford      4    h  1600000.0       2.5    3067.0  2.0     120.0

In [0]:
df = df.drop(['Suburb'],1)

In [0]:
def score_to_numeric(x):
    if x=='h':
        return 3
    if x=='u':
        return 2
    if x=='t':
        return 1

In [0]:
df['score_num'] = df['Type'].apply(score_to_numeric)

In [0]:
df.head()

   Rooms Type      Price  Distance  Postcode  Car  Landsize  score_num
1      2    h  1480000.0       2.5    3067.0  1.0     202.0          3
2      2    h  1035000.0       2.5    3067.0  0.0     156.0          3
4      3    h  1465000.0       2.5    3067.0  0.0     134.0          3
5      3    h   850000.0       2.5    3067.0  1.0      94.0          3
6      4    h  1600000.0       2.5    3067.0  2.0     120.0          3

In [0]:
df = df.drop(['Type'], 1)

In [0]:
X = df.drop(['Price'], 1)
y = df['Price']

linreg = LinearRegression()

In [0]:
linreg.fit(X, y)
linreg.score(X, y)

0.41914129773558706